@font-face {
  font-family: "roboto";
  src: url("../fonts/roboto.woff2") format("woff2"),
       url("../fonts/roboto.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "roboto";
  src: 
    url("../fonts/robotobold.woff2") format("woff2"),
    url("../fonts/robotobold.woff") format("woff");
  font-weight: 700;
}

@font-face {
  font-family: "roboto";
  src: 
      url("../fonts/robotomedium.woff2") format("woff2"),
      url("../fonts/robotomedium.woff") format("woff");
  font-weight: 500;
}

body {
  margin: 0;
  padding: 0;
  width: 1440px;
  min-width: 1440px;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;

}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.button {
  padding: 16px 55px;
  font: inherit;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #fb565a;
  border-radius: 3px;
  border: none;
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b; /*надо разобраться, как менять полупрозрачность, только у текста*/
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

/*----------------------------------шапка сайта---------------------------------------*/

.main-header .container {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  align-items: center;
  outline: 2px dotted red;
}

.main-header {
  padding-top: 30px; 
  width: 100%;
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  background-color: #eeeeee;

}

.main-header a {
  color: #000000;
}

.main-header a:hover {
  color: #fb565a;
}

.main-header a:active {
  opacity: 0.3;
}

.main-navigation  .navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 440px;
  margin: 0;
  padding: 0;
  padding-top: 10px;
  list-style: none;
}

.navigation-list .navigation-item {
  display: block;
  padding-right: 45px;
  font-weight: 500;
  line-height: 30px;
  vertical-align: middle;
}

.navigation-list .navigation-item:last-child {
  padding-right: 0;
}

.container .cart {
  display: flex;
  justify-content: flex-end;
  padding-top: 10px; 
  width: 160px;
  outline: 2px dotted red;
}

.cart .cart-link {
  position: relative;
  display: block;
}

.cart .cart-link::before {
  content: "";
  position: absolute;
  top: 5px;
  right: 100px;
  width: 15px;
  height: 18px;
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

/*------------------------------------шапка сайта--------------------------------------*/

.slider {
  position: relative;
  margin-bottom: 80px;
  background-color: #eeeeee;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;
  width: 160px;
  height: 18px;
  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-controls i {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls i::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  width: 18px;
  height: 18px;
  
  background: #ffffff;
  border-radius: 50%;
}

.slider-controls .active::before {
  
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider-item {
  display: none;
  padding: 78px 0 80px 0;
}

.slider-item:nth-child(1) {
 display: block;
}

.slider-item:nth-child(1) {
  background-image: url("../img/slide1.png");
  background-repeat: no-repeat;
  background-position: 93% 18px;
}

.slider-item:nth-child(2) {
  background-image: url("../img/slide2.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slider-item:nth-child(3) {
  background-image: url("../img/slide3.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}

.slider-item h3 {
  max-width: 600px;
  margin: 0;
  margin-bottom: 27px;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.slider-item p {
  max-width: 430px;
  margin: 0;
  margin-bottom: 38px;
}

.services {
  margin-bottom: 80px;
  padding-bottom: 80px;
  border-bottom: 2px solid #eeeeee;
}

.services .services-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 1100px;
  list-style: none;
}

.services-list .services-item {
  width: 300px;
}

.services-item .services-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.services-item .button-application {
  background-color: #00ca74;
}

.services-item .button-presentation {
  background-color: #efc84a;
}

.columns-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 77px;
}

.columns-wrapper .about-us {
  width: 660px;
}

.colimns-wrapper .statistics {
  width: 360px;
} 

.about-us .tagline {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: #000000;
}

.about-us .our-service {
  font-weight: 700;
  color: #000000;
}

.statistics-info .table-desc {
  font-weight: 700;
  color: #000000;
}

.statistics-info .top-line {
  font-size: 45px;
  line-height: 10.06px;
  font-weight: 700;
  color: #000000;
}

.studio-projects {
  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
}

.studio-projects .projects-list {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 45px 0;
  list-style: none;
}

.projects-list img {
  opacity: 0.2;
}

.projects-list img:hover {
  opacity: 1;
}

.projects-list img:active {
  opacity: 0.1;
}

/*-----------------------Подвал сайта--------------------------*/

.main-footer {
  margin-top: 80px;
}

.location-wrapper {
  min-height: 416px; /*временно, пока карты нет*/
  margin-bottom: 79px;
  padding-top: 54px;
  outline: 2px dotted red;
}

.info-wrapper .container {
  /*padding-top: 54px;*/
  /*padding-bottom: 54px;*/
}

.location-info {
  width: 320px;
  padding-top: 50.5px;
  padding-bottom: 47px;
  padding-left: 50px;
  padding-right: 77px;
  border: 1px solid white;
  outline: 2px dotted green;
}

.location-info .location-title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
}

.footer-bottom.container {
  display: flex;
}

.footer-social {
  width: 300px;
}

.footer-social .social-list {
  display: flex;
  list-style: none;
}

.social-button {
  color: #000000;
  background-color: #e1e1e1;
}

.social-button:hover {
  background-color: #e74246;
}

.social-button:active {
  opacity: 0.3;
  background-color: #d7373b;
}

.notification-block {
  margin: 0;
  width: 580px;
}

.notification-block .lead {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
}

.modal-feedback .modal-title {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: #000000;
}

.form-feedback label {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
}

.form-feedback textarea,
 input {
  border: 2px solid #d7dcde;
}

.form-feedback textarea::-webkit-input-placeholder,
 input::-webkit-input-placeholder {
  opacity: 0.5;
}

.form-feedback textarea::-moz-placeholder,
 input::-moz-placeholder {
  opacity: 0.5;
}

.form-feedback textarea:-moz-placeholder,
 input:-moz-placeholder {
  opacity: 0.5;
}

.form-feedback textarea:-ms-input-placeholder,
 input:-ms-input-placeholder {
  opacity: 0.5;
}

.form-feedback textarea:hover,
 input:hover {
  border: 2px solid #b4b9bb;
}

.form-feedback textarea:focus,
 input:focus {
  border: 2px solid #000000;
  outline: 0;
}

.form-feedback textarea:focus::-webkit-input-placeholder,
 input:focus::-webkit-input-placeholder {
  opacity: 1;
}

.form-feedback textarea:focus::-moz-placeholder,
 input:focus::-moz-placeholder {
  opacity: 1;
}

.form-feedback textarea:focus:-moz-placeholder,
 input:focus:-moz-placeholder {
  opacity: 1;
}

.form-feedback textarea:focus:-ms-input-placeholder,
 input:focus:-ms-input-placeholder {
  opacity: 1;
}

.form-feedback input:invalid {
  border: 2px solid #7f2d2f;
}

.form-feedback input:invalid::-webkit-input-placeholder {
  color: #e74246;
  opacity: 1;
}

.form-feedback input:invalid::-moz-placeholder {
  color: #e74246;
  opacity: 1;
}

.form-feedback input:invalid:-moz-placeholder {
  color: #e74246;
  opacity: 1;
}

.form-feedback input:invalid:-ms-input-placeholder {
  color: #e74246;
  opacity: 1;
}

.modal-feedback .modal-close {
  opacity: 0.3;
}

.modal-feedback .modal-close:hover {
  opacity: 1;
}

.modal-feedback .modal-close:active {
  opacity: 0.1;
}

/*--------------------------------страница каталога-------------------------*/

.inner-page .header-logo:hover {
  opacity: 0.8;
}

.inner-page .header-logo:active {
  opacity: 0.3;
}

.page-title-wraper {
  background-color: #eeeeee;
}

.container .page-title {
  margin: 0 auto;
  padding-top: 102px;
  padding-bottom: 117px; 
  width: 760px;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: #000000;
}

.inner-page .catalog-wrapper {
  display: flex;
  justify-content: space-between;
}

.catalog-wrapper .filters {
 width: 300px;
}

.filter .form-price,
.filter .group-grid,
.filter .group-features,
.sort .sort-title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

input[type="radio"],
input[type="checkbox"] {
  opacity: 0.4;
}

input[type="radio"],         /*---тут надо будет разобраться как менять при наведении*/
input[type="checkbox"] {
  opacity: 1;
}

.catalog-wrapper .catalog {
  width: 760px;
  outline: 2px solid green;
}

.catalog .catalog-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-bottom: 60px;
  list-style: none;
}

.catalog-list .catalog-item {
  margin-right: 40px;
  margin-bottom: 33px;
  width: 360px;
}

.catalog-list .catalog-item:nth-child(2n) {
  margin-right: 0;
}

.catalog-item .item-wrapper {
  padding-top: 29px;
  padding-bottom: 43px;
  background-color: #eeeeee; 
}

.item-wrapper .item-title,
.item-wrapper .item-desc,
.item-wrapper .button {
 margin: 0 auto;
}

.item-wrapper .item-title {
  width: 80px;
  margin-bottom: 16px;
}

.item-wrapper .item-desc {
  margin-bottom: 26px;
  width: 200px;
  text-align: center;
}

.item-wrapper .button {
  display: block;
  width: 95px;
}

.pagination-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filter .button-filter,
.pagination-list .pagination-item {
  font-weight: 500;
  color: #000000;
  background-color: #eeeeee;
}

.filter .button-filter:hover,
.pagination-list .pagination-item:hover {
  background-color: #dfdfdf;
}

.filter .button-filter:active,
.pagination-list .pagination-item:active {
  background-color: #d5d5d5;
  opacity: 0.3;
}

.pagination-item-current {
  background-color: #ffffff;
}

.sort {
  display: flex;
  justify-content: space-between;
}

.sort .sort-wrapper {
  display: flex;
  justify-content: space-between;
  width: 360px;
}

.sort .sort-title {
  line-height: 18px;
  text-transform: uppercase;
}

.sort-wrapper .sort-list {
  display: flex; /*временно*/
  margin: 0;
  padding: 0;
  list-style: none;
}

.sort-wrapper .sort-buttons {
 display: flex; /*временно*/
}

.sort-list .sort-item {
  color: #000000;
  opacity: 0.3;
}

.sort-list .sort-item:hover {
  opacity: 0.6;
}

.sort-list .sort-item:active {
  opacity: 1;
}



